## Install Pyspark

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,132 kB]
Get:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [918 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,267 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [12.9 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Get:21 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [82.3 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,831 kB]
Get:24 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [951 kB]
Get:25 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,693 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [938 kB]
Get:27 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [884 kB]
Get:28 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,489 kB]
Get:29 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:30 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.3 kB]
Fetched 15.6 MB in 4s (3,770 kB/s)
Reading package lists... Done

## Set Pyspark Environment

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

## Import Pyspark Package

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

## Upload File

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Northwind.zip to Northwind (1).zip

In [5]:
!unzip Northwind.zip

Archive:  Northwind.zip
   creating: Northwind/
  inflating: Northwind/orders.csv
  inflating: Northwind/order_details.csv
  inflating: Northwind/products.csv
  inflating: Northwind/suppliers.csv

## Initiate Spark

In [6]:
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

# Dataframe

## Read Data

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Dataset Orders

In [8]:
df_products = spark.read. \
  format("csv"). \
  option("inferSchema","true"). \
  option("header","true"). \
  load("Northwind/products.csv")

In [9]:
df_products.show(2)
df_products.printSchema()
df_products.dtypes

+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|product_id|product_name|supplier_id|category_id| quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
|         1|        Chai|          8|          1|10 boxes x 30 bags|      18.0|            39|             0|           10|           1|
|         2|       Chang|          1|          1|24 - 12 oz bottles|      19.0|            17|            40|           25|           1|
+----------+------------+-----------+-----------+------------------+----------+--------------+--------------+-------------+------------+
only showing top 2 rows

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- supplier_id: integer (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- quantity_per_unit: string (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- units_in_stock: integer (nullable = true)
 |-- units_on_order: integer (nullable = true)
 |-- reorder_level: integer (nullable = true)
 |-- discontinued: integer (nullable = true)

[('product_id', 'int'),
 ('product_name', 'string'),
 ('supplier_id', 'int'),
 ('category_id', 'int'),
 ('quantity_per_unit', 'string'),
 ('unit_price', 'double'),
 ('units_in_stock', 'int'),
 ('units_on_order', 'int'),
 ('reorder_level', 'int'),
 ('discontinued', 'int')]

In [10]:
df_products = df_products \
  .withColumn("product_id" ,
              df_products["product_id"]
              .cast(StringType()))   \
  .withColumn("supplier_id",
              df_products["supplier_id"]
              .cast(StringType()))    \
  .withColumn("category_id"  ,
              df_products["category_id"]
              .cast(StringType())) \

In [11]:
df_products.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- supplier_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- quantity_per_unit: string (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- units_in_stock: integer (nullable = true)
 |-- units_on_order: integer (nullable = true)
 |-- reorder_level: integer (nullable = true)
 |-- discontinued: integer (nullable = true)

### Dataset Orders

In [12]:
df_orders = spark.read. \
  format("csv"). \
  option("inferSchema","true"). \
  option("header","true"). \
  load("Northwind/orders.csv")

In [13]:
df_orders.show(2)
df_orders.printSchema()
df_orders.dtypes

+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
|order_id|customer_id|employee_id|         order_date|      required_date|       shipped_date|ship_via|freight|           ship_name|      ship_address|ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04 00:00:00|1996-08-01 00:00:00|1996-07-16 00:00:00|       3|  32.38|Vins et alcools C...|59 rue de l'Abbaye|    Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05 00:00:00|1996-08-16 00:00:00|1996-07-10 00:00:00|       1|  11.61|  Toms Spezialitäten|     Luisenstr. 48|  Münster|       null|           44087|     Germany|
+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+------------------+---------+-----------+----------------+------------+
only showing top 2 rows

root
 |-- order_id: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- employee_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- required_date: timestamp (nullable = true)
 |-- shipped_date: timestamp (nullable = true)
 |-- ship_via: integer (nullable = true)
 |-- freight: double (nullable = true)
 |-- ship_name: string (nullable = true)
 |-- ship_address: string (nullable = true)
 |-- ship_city: string (nullable = true)
 |-- ship_region: string (nullable = true)
 |-- ship_postal_code: string (nullable = true)
 |-- ship_country: string (nullable = true)

[('order_id', 'int'),
 ('customer_id', 'string'),
 ('employee_id', 'int'),
 ('order_date', 'timestamp'),
 ('required_date', 'timestamp'),
 ('shipped_date', 'timestamp'),
 ('ship_via', 'int'),
 ('freight', 'double'),
 ('ship_name', 'string'),
 ('ship_address', 'string'),
 ('ship_city', 'string'),
 ('ship_region', 'string'),
 ('ship_postal_code', 'string'),
 ('ship_country', 'string')]

In [14]:
df_orders = df_orders \
  .withColumn("order_id" ,
              df_orders["order_id"]
              .cast(StringType()))   \
  .withColumn("employee_id"  ,
              df_orders["employee_id"]
              .cast(StringType())) \

In [15]:
df_orders.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- employee_id: string (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- required_date: timestamp (nullable = true)
 |-- shipped_date: timestamp (nullable = true)
 |-- ship_via: integer (nullable = true)
 |-- freight: double (nullable = true)
 |-- ship_name: string (nullable = true)
 |-- ship_address: string (nullable = true)
 |-- ship_city: string (nullable = true)
 |-- ship_region: string (nullable = true)
 |-- ship_postal_code: string (nullable = true)
 |-- ship_country: string (nullable = true)

### Dataset Order Details

In [16]:
df_order_details = spark.read. \
  format("csv"). \
  option("inferSchema","true"). \
  option("header","true"). \
  load("Northwind/order_details.csv")

In [17]:
df_order_details.show(2)
df_order_details.printSchema()
df_order_details.dtypes

+--------+----------+----------+--------+--------+
|order_id|product_id|unit_price|quantity|discount|
+--------+----------+----------+--------+--------+
|   10248|        11|      14.0|      12|     0.0|
|   10248|        42|       9.8|      10|     0.0|
+--------+----------+----------+--------+--------+
only showing top 2 rows

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)

[('order_id', 'int'),
 ('product_id', 'int'),
 ('unit_price', 'double'),
 ('quantity', 'int'),
 ('discount', 'double')]

In [18]:
df_order_details = df_order_details \
  .withColumn("order_id" ,
              df_order_details["order_id"]
              .cast(StringType()))   \
  .withColumn("product_id"  ,
              df_order_details["product_id"]
              .cast(StringType())) \

In [19]:
df_order_details.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)

###Dataset Supplier

In [20]:
df_suppliers = spark.read. \
  format("csv"). \
  option("inferSchema","true"). \
  option("header","true"). \
  load("Northwind/suppliers.csv")

In [21]:
df_suppliers.show(2)
df_suppliers.printSchema()
df_suppliers.dtypes

+-----------+--------------------+----------------+-------------------+--------------+-----------+------+-----------+-------+--------------+----+-----------+
|supplier_id|        company_name|    contact_name|      contact_title|       address|       city|region|postal_code|country|         phone| fax|   homepage|
+-----------+--------------------+----------------+-------------------+--------------+-----------+------+-----------+-------+--------------+----+-----------+
|          1|      Exotic Liquids|Charlotte Cooper| Purchasing Manager|49 Gilbert St.|     London|  null|    EC1 4SD|     UK|(171) 555-2222|null|       null|
|          2|New Orleans Cajun...|   Shelley Burke|Order Administrator|P.O. Box 78934|New Orleans|    LA|      70117|    USA|(100) 555-4822|null|#CAJUN.HTM#|
+-----------+--------------------+----------------+-------------------+--------------+-----------+------+-----------+-------+--------------+----+-----------+
only showing top 2 rows

root
 |-- supplier_id: integer (nullable = true)
 |-- company_name: string (nullable = true)
 |-- contact_name: string (nullable = true)
 |-- contact_title: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- region: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- fax: string (nullable = true)
 |-- homepage: string (nullable = true)

[('supplier_id', 'int'),
 ('company_name', 'string'),
 ('contact_name', 'string'),
 ('contact_title', 'string'),
 ('address', 'string'),
 ('city', 'string'),
 ('region', 'string'),
 ('postal_code', 'string'),
 ('country', 'string'),
 ('phone', 'string'),
 ('fax', 'string'),
 ('homepage', 'string')]

In [22]:
df_suppliers = df_suppliers \
  .withColumn("supplier_id" ,
              df_suppliers["supplier_id"]
              .cast(StringType()))   \

### Create Alias in Suppliers table

In [23]:
 df_suppliers2 = df_suppliers.select(col("supplier_id").alias("Supplier_id"), col("company_name").alias("Supplier_name"))
 df_suppliers2.show()

+-----------+--------------------+
|Supplier_id|       Supplier_name|
+-----------+--------------------+
|          1|      Exotic Liquids|
|          2|New Orleans Cajun...|
|          3|Grandma Kelly's H...|
|          4|       Tokyo Traders|
|          5|Cooperativa de Qu...|
|          6|            Mayumi's|
|          7|       Pavlova, Ltd.|
|          8|Specialty Biscuit...|
|          9|    PB Knäckebröd AB|
|         10|Refrescos America...|
|         11|Heli Süßwaren Gmb...|
|         12|Plutzer Lebensmit...|
|         13|Nord-Ost-Fisch Ha...|
|         14|Formaggi Fortini ...|
|         15|     Norske Meierier|
|         16|   Bigfoot Breweries|
|         17|   Svensk Sjöföda AB|
|         18|Aux joyeux ecclés...|
|         19|New England Seafo...|
|         20|        Leka Trading|
+-----------+--------------------+
only showing top 20 rows

In [24]:
df_suppliers2.printSchema()

root
 |-- Supplier_id: string (nullable = true)
 |-- Supplier_name: string (nullable = true)

### Join with table Suppliers

In [25]:
df_denormalized2 = df_orders.join(df_order_details,"order_id").join(df_products,"product_id").join(df_suppliers2,"supplier_id")
df_denormalized2.show()

+-----------+----------+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+----------+--------+--------+--------------------+-----------+-----------------+----------+--------------+--------------+-------------+------------+--------------------+
|supplier_id|product_id|order_id|customer_id|employee_id|         order_date|      required_date|       shipped_date|ship_via|freight|           ship_name|        ship_address|     ship_city|ship_region|ship_postal_code|ship_country|unit_price|quantity|discount|        product_name|category_id|quantity_per_unit|unit_price|units_in_stock|units_on_order|reorder_level|discontinued|       Supplier_name|
+-----------+----------+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+----------+--------+--------+--------------------+-----------+-----------------+----------+--------------+--------------+-------------+------------+--------------------+
|         14|        72|   10248|      VINET|          5|1996-07-04 00:00:00|1996-08-01 00:00:00|1996-07-16 00:00:00|       3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|       null|           51100|      France|      34.8|       5|     0.0|Mozzarella di Gio...|          4| 24 - 200 g pkgs.|      34.8|            14|             0|            0|           0|Formaggi Fortini ...|
|         20|        42|   10248|      VINET|          5|1996-07-04 00:00:00|1996-08-01 00:00:00|1996-07-16 00:00:00|       3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|       null|           51100|      France|       9.8|      10|     0.0|Singaporean Hokki...|          5|  32 - 1 kg pkgs.|      14.0|            26|             0|            0|           1|        Leka Trading|
|          5|        11|   10248|      VINET|          5|1996-07-04 00:00:00|1996-08-01 00:00:00|1996-07-16 00:00:00|       3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|       null|           51100|      France|      14.0|      12|     0.0|      Queso Cabrales|          4|        1 kg pkg.|      21.0|            22|            30|           30|           0|Cooperativa de Qu...|
|         24|        51|   10249|      TOMSP|          6|1996-07-05 00:00:00|1996-08-16 00:00:00|1996-07-10 00:00:00|       1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|       null|           44087|     Germany|      42.4|      40|     0.0|Manjimup Dried Ap...|          7| 50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|         G'day, Mate|
|          6|        14|   10249|      TOMSP|          6|1996-07-05 00:00:00|1996-08-16 00:00:00|1996-07-10 00:00:00|       1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|       null|           44087|     Germany|      18.6|       9|     0.0|                Tofu|          7| 40 - 100 g pkgs.|     23.25|            35|             0|            0|           0|            Mayumi's|
|          2|        65|   10250|      HANAR|          4|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-12 00:00:00|       2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|      16.8|      15|    0.15|Louisiana Fiery H...|          2|32 - 8 oz bottles|     21.05|            76|             0|            0|           0|New Orleans Cajun...|
|         24|        51|   10250|      HANAR|          4|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-12 00:00:00|       2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|      42.4|      35|    0.15|Manjimup Dried Ap...|          7| 50 - 300 g pkgs.|      53.0|            20|             0|           10|           0|         G'day, Mate|
|         19|        41|   10250|      HANAR|          4|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-12 00:00:00|       2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|       7.7|      10|     0.0|Jack's New Englan...|          8|  12 - 12 oz cans|      9.65|            85|             0|           10|           0|New England Seafo...|
|          2|        65|   10251|      VICTE|          3|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-15 00:00:00|       1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|       null|           69004|      France|      16.8|      20|     0.0|Louisiana Fiery H...|          2|32 - 8 oz bottles|     21.05|            76|             0|            0|           0|New Orleans Cajun...|
|         26|        57|   10251|      VICTE|          3|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-15 00:00:00|       1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|       null|           69004|      France|      15.6|      15|    0.05|      Ravioli Angelo|          5| 24 - 250 g pkgs.|      19.5|            36|             0|           20|           0|Pasta Buttini s.r.l.|
|          9|        22|   10251|      VICTE|          3|1996-07-08 00:00:00|1996-08-05 00:00:00|1996-07-15 00:00:00|       1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|       null|           69004|      France|      16.8|       6|    0.05| Gustaf's Knäckebröd|          5| 24 - 500 g pkgs.|      21.0|           104|             0|           25|           0|    PB Knäckebröd AB|
|         28|        60|   10252|      SUPRD|          4|1996-07-09 00:00:00|1996-08-06 00:00:00|1996-07-11 00:00:00|       2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|       null|          B-6000|     Belgium|      27.2|      40|     0.0|   Camembert Pierrot|          4|15 - 300 g rounds|      34.0|            19|             0|            0|           0|        Gai pâturage|
|         15|        33|   10252|      SUPRD|          4|1996-07-09 00:00:00|1996-08-06 00:00:00|1996-07-11 00:00:00|       2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|       null|          B-6000|     Belgium|       2.0|      25|    0.05|             Geitost|          4|            500 g|       2.5|           112|             0|           20|           0|     Norske Meierier|
|          8|        20|   10252|      SUPRD|          4|1996-07-09 00:00:00|1996-08-06 00:00:00|1996-07-11 00:00:00|       2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|       null|          B-6000|     Belgium|      64.8|      40|    0.05|Sir Rodney's Marm...|          3|    30 gift boxes|      81.0|            40|             0|            0|           0|Specialty Biscuit...|
|         23|        49|   10253|      HANAR|          3|1996-07-10 00:00:00|1996-07-24 00:00:00|1996-07-16 00:00:00|       2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|      16.0|      40|     0.0|            Maxilaku|          3|  24 - 50 g pkgs.|      20.0|            10|            60|           15|           0|           Karkki Oy|
|         18|        39|   10253|      HANAR|          3|1996-07-10 00:00:00|1996-07-24 00:00:00|1996-07-16 00:00:00|       2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|      14.4|      42|     0.0|    Chartreuse verte|          1|750 cc per bottle|      18.0|            69|             0|            5|           0|Aux joyeux ecclés...|
|         14|        31|   10253|      HANAR|          3|1996-07-10 00:00:00|1996-07-24 00:00:00|1996-07-16 00:00:00|       2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|      10.0|      20|     0.0|   Gorgonzola Telino|          4|  12 - 100 g pkgs|      12.5|             0|            70|           20|           0|Formaggi Fortini ...|
|          4|        74|   10254|      CHOPS|          5|1996-07-11 00:00:00|1996-08-08 00:00:00|1996-07-23 00:00:00|       2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|       null|            3012| Switzerland|       8.0|      21|     0.0|       Longlife Tofu|          7|        5 kg pkg.|      10.0|             4|            20|            5|           0|       Tokyo Traders|
|         25|        55|   10254|      CHOPS|          5|1996-07-11 00:00:00|1996-08-08 00:00:00|1996-07-23 00:00:00|       2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|       null|            3012| Switzerland|      19.2|      21|    0.15|        Pâté chinois|          6|24 boxes x 2 pies|      24.0|           115|             0|           20|           0|           Ma Maison|
|         10|        24|   10254|      CHOPS|          5|1996-07-11 00:00:00|1996-08-08 00:00:00|1996-07-23 00:00:00|       2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|       null|            3012| Switzerland|       3.6|      15|    0.15|  Guaraná Fantástica|          1| 12 - 355 ml cans|       4.5|            20|             0|            0|           1|Refrescos America...|
+-----------+----------+--------+-----------+-----------+-------------------+-------------------+-------------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+----------+--------+--------+--------------------+-----------+-----------------+----------+--------------+--------------+-------------+------------+--------------------+
only showing top 20 rows

# Homework

buatlah satu dataframe yang berisikan report Yearly Supplier Net revenue (group by Year, Supplier ID, Supplier Name):

Supplier_id	| Supplier_name	| Year	| Net_revenue

In [28]:
net_revenue_formula = (1-df_order_details["discount"]) * df_order_details["unit_price"] * df_order_details["quantity"]
df_net_revnue_unsorte2 = df_denormalized2.groupBy("Supplier_id","Supplier_name",year("order_date").alias("Year")).agg(round(sum(net_revenue_formula),2).alias("Net_revenue"))
df_net_revnue_unsorte2.orderBy("supplier_id","Supplier_name","Year").show(100)

+-----------+--------------------+----+-----------+
|Supplier_id|       Supplier_name|Year|Net_revenue|
+-----------+--------------------+----+-----------+
|          1|      Exotic Liquids|1996|    3257.96|
|          1|      Exotic Liquids|1997|    8762.55|
|          1|      Exotic Liquids|1998|    7379.45|
|         10|Refrescos America...|1996|     556.74|
|         10|Refrescos America...|1997|    1630.13|
|         10|Refrescos America...|1998|     2317.5|
|         11|Heli Süßwaren Gmb...|1996|    5409.48|
|         11|Heli Süßwaren Gmb...|1997|   23109.68|
|         11|Heli Süßwaren Gmb...|1998|   10134.27|
|         12|Plutzer Lebensmit...|1996|    21285.9|
|         12|Plutzer Lebensmit...|1997|   66007.99|
|         12|Plutzer Lebensmit...|1998|   58078.51|
|         13|Nord-Ost-Fisch Ha...|1996|    2645.46|
|         13|Nord-Ost-Fisch Ha...|1997|     6034.4|
|         13|Nord-Ost-Fisch Ha...|1998|    4744.34|
|         14|Formaggi Fortini ...|1996|   12094.19|
|         14|Formaggi Fortini ...|1997|   21572.35|
|         14|Formaggi Fortini ...|1998|   14558.63|
|         15|     Norske Meierier|1996|    8873.26|
|         15|     Norske Meierier|1997|   22287.35|
|         15|     Norske Meierier|1998|    11980.9|
|         16|   Bigfoot Breweries|1996|     4781.2|
|         16|   Bigfoot Breweries|1997|     8291.9|
|         16|   Bigfoot Breweries|1998|     9318.1|
|         17|   Svensk Sjöföda AB|1996|    3529.76|
|         17|   Svensk Sjöföda AB|1997|   11040.85|
|         17|   Svensk Sjöföda AB|1998|    5573.45|
|         18|Aux joyeux ecclés...|1996|   28432.64|
|         18|Aux joyeux ecclés...|1997|   53673.78|
|         18|Aux joyeux ecclés...|1998|   71584.85|
|         19|New England Seafo...|1996|    3585.65|
|         19|New England Seafo...|1997|   14771.98|
|         19|New England Seafo...|1998|    8233.35|
|          2|New Orleans Cajun...|1996|    6664.52|
|          2|New Orleans Cajun...|1997|   17919.69|
|          2|New Orleans Cajun...|1998|    6583.78|
|         20|        Leka Trading|1996|    7351.33|
|         20|        Leka Trading|1997|   23216.04|
|         20|        Leka Trading|1998|   11450.28|
|         21|          Lyngbysild|1996|    1175.52|
|         21|          Lyngbysild|1997|    6337.28|
|         21|          Lyngbysild|1998|    2708.38|
|         22| Zaanse Snoepfabriek|1996|      97.28|
|         22| Zaanse Snoepfabriek|1997|    4212.76|
|         22| Zaanse Snoepfabriek|1998|    1016.75|
|         23|           Karkki Oy|1996|    4336.74|
|         23|           Karkki Oy|1997|   12681.14|
|         23|           Karkki Oy|1998|   11424.85|
|         24|         G'day, Mate|1996|   11508.76|
|         24|         G'day, Mate|1997|   37356.88|
|         24|         G'day, Mate|1998|   16761.13|
|         25|           Ma Maison|1996|    4818.12|
|         25|           Ma Maison|1997|   11017.16|
|         25|           Ma Maison|1998|    6319.35|
|         26|Pasta Buttini s.r.l.|1996|    4826.46|
|         26|Pasta Buttini s.r.l.|1997|    34760.7|
|         26|Pasta Buttini s.r.l.|1998|   10667.45|
|         27|  Escargots Nouveaux|1996|     1378.0|
|         27|  Escargots Nouveaux|1997|    2076.28|
|         27|  Escargots Nouveaux|1998|     2427.4|
|         28|        Gai pâturage|1996|   18060.36|
|         28|        Gai pâturage|1997|    56280.7|
|         28|        Gai pâturage|1998|   43640.12|
|         29|    Forêts d'érables|1996|    9603.75|
|         29|    Forêts d'érables|1997|    30729.8|
|         29|    Forêts d'érables|1998|   21254.02|
|          3|Grandma Kelly's H...|1996|     5192.0|
|          3|Grandma Kelly's H...|1997|    15946.3|
|          3|Grandma Kelly's H...|1998|    20815.0|
|          4|       Tokyo Traders|1996|    2961.44|
|          4|       Tokyo Traders|1997|    17871.5|
|          4|       Tokyo Traders|1998|     9693.4|
|          5|Cooperativa de Qu...|1996|    1952.64|
|          5|Cooperativa de Qu...|1997|   15247.24|
|          5|Cooperativa de Qu...|1998|    7959.55|
|          6|            Mayumi's|1996|     2118.1|
|          6|            Mayumi's|1997|    8522.25|
|          6|            Mayumi's|1998|     4096.4|
|          7|       Pavlova, Ltd.|1996|   19973.02|
|          7|       Pavlova, Ltd.|1997|   54585.68|
|          7|       Pavlova, Ltd.|1998|   31901.08|
|          8|Specialty Biscuit...|1996|   10761.95|
|          8|Specialty Biscuit...|1997|   24618.55|
|          8|Specialty Biscuit...|1998|   23651.58|
|          9|    PB Knäckebröd AB|1996|     851.76|
|          9|    PB Knäckebröd AB|1997|     6522.3|
|          9|    PB Knäckebröd AB|1998|     4350.0|
+-----------+--------------------+----+-----------+